body{
	margin:0px;
	height:100%;
	background:url(../img/bg.png) no-repeat fixed top;
	font-family: helvetica, sans-serif;
	font-weight: normal;
	font-size: 12px;
	overflow-x:hidden;
}

table {
    background : #FEEEBD;
    border : solid 1px;
    border-collapse : collapse;
    margin-left:2em;
}

th {
    background-color:#817865;
    color:white;
    text-align : left;
    padding : 5px;
    font-family : Arial;
    font-size : 14px;
    font-weight : bold;
}

td {
    /*border : solid 1px;*/
    padding : 5px;
    font-family : Arial,DejaVu Sans,Liberation Sans,Freesans,sans-serif;
    font-size : 12px;
}


h1 {
    font-family : Arial,DejaVu Sans,Liberation Sans,Freesans,sans-serif;
    font-size : 18px;

}

h2 {
    font-family : Arial,DejaVu Sans,Liberation Sans,Freesans,sans-serif;
    font-size : 14px;

}

p {
    font-family : Arial,DejaVu Sans,Liberation Sans,Freesans,sans-serif;
    font-size : 12px;
}

img {
    border:none;
}

form {
    font-family : Arial,DejaVu Sans,Liberation Sans,Freesans,sans-serif;
    font-size : 12px;
}

a {
    font-family : Arial,DejaVu Sans,Liberation Sans,Freesans,sans-serif;
    font-size : 12px;
}

label{
    font-weight:bold;
}

textarea {
    /*resize: none;
    padding : 3px;
    border : solid 1px;*/
    width:100%;
    background : #FEEEBD;
    border : none;
    resize : none;
}

button {
    border : solid 1px;
    padding : 3px;
}

input {
    border : solid 1px;
    padding : 3px;
    background : #CCCCCC;
}

select {
    border : solid 1px;
    padding : 3px;
}

.innertable {
    margin-left:0px;
}

.list {
    border : solid 1px;
    padding : 3px;
    background : #FECE2F;
}

.tbl_center {
    margin-left:auto; margin-right:auto;
}

.imgtrash {
    vertical-align : middle;
}

.imgshowhide {
    vertical-align : middle;
}

.imgrefresh {
    vertical-align : middle;
}

.right {
    text-align : right;
}

.center {
    text-align:center;
}

#mcd {
    width : 200px;
}

#archive {
    width : 300px;
}

#message {
	position:absolute;
        top:0px;
	font-family:arial,tahoma;
	font-size:12px;
	font-weight:bold;
        text-align:center;
	border-top:solid 2px #999999;
	border-bottom:solid 2px #999999;
	background-color:yellow;
	width:100%;
	z-index:1;
	display:none;
	}